<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Form - 5902041620083</title>
</head>
<body>

<table border="0" width="400px" align="center">
    <tr>
        <td colspan="2" align="center">
            <h1>Register</h1>
        </td>
    </tr>

    <form name="frmSignup" method="post" action="{{ url_for('register') }}">
        {{ form.csrf_token }}

        <tr>
            <td>First Name</td>
            <td> : {{ form.name }}</td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td> : {{ form.last }} </td>
        </tr>

        <tr>
            <td>E-mail</td>
            <td> : {{ form.email }}</td>
        </tr>

        {% for error in form.email.errors %}
            <tr>
                <td colspan="2" align="center">
                    <li style="color:red">{{ error }}</li>
                </td>
            </tr>
            <script language="JavaScript">alert("Please enter your E-mail again.");</script>
        {% endfor %}

        <tr>
            <td>Username</td>
            <td> : {{ form.username }} </td>
        </tr>

        <tr>
            <td>Password</td>
            <td> : {{ form.password }} </td>
        </tr>

        {% for error in form.password.errors %}
            <tr>
                <td colspan="2" align="center">
                    <li style="color:red">{{ error }}</li>
                </td>
            </tr>
            <script language="JavaScript">alert("Please enter password at least 8 characters");</script>
        {% endfor %}

        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="SIGN UP"/>
            </td>
        </tr>

    </form>
</table>
</table>
</body>
</html>
